body {
    font-family: 'Poppins';font-size: 22px;
}

.navbar-custom{
    background-color: white;
}
.navbar-custom .nav-link,.navbar-toggler-icon {
    color: #01B2AC;
}
.navbar-custom .navbar-brand img{
    width: 70px;
}
.navbar .navbar-nav .nav-link:hover {
    color: #FBCB2D;
}

.navbar .navbar-nav .nav-link {
    position: relative;
}
.navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #FBCB2D; 
    color: transparent;
    width: 0%;
    content: '';
    height: 3px;
    transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
}

@media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
        padding: 1em 0.7em;
    }
    .navbar {
        padding: 0;
    }
    .navbar .navbar-brand {
        padding: 0 0.7em;
    }
}

body section.header{
    padding-top: 7rem;
    padding-bottom: 3rem;
}

body section.header img.vector_header{
    width:100%;
}

body .color-primary-custom{
    color:  #01B2AC;
}

body .color-secondary-custom{
    color:  #FBCB2D;
}

body .bg-primary-custom{
    background-color:  #01B2AC;
}

body .bg-secondary-custom{
    background-color:  #FBCB2D;
}


body button.btn-outline-custom-primary{
    color:  #01B2AC;
    border: 1px #01B2AC solid;
}

section.whatinfo img.vector_question {
    width: 80%;
}

section.research img.vector_research {
    width: 80%;
}

footer {
    border-bottom: 5px #FBCB2D solid;
}



